---
import Header from "../components/Header.astro";
import About from "../components/sections/About.astro";
import Education from "../components/sections/Education.astro";
import Experence from "../components/sections/Experence.astro";
import Skills from "../components/sections/Skills.astro";
import Layout from "../layouts/Layout.astro";
---

<Layout>
  <main class="mx-auto max-w-4xl pt-20 px-10">
    <Header />
    <About />
    <Skills />
    <Experence />
    <Education />
  </main>
</Layout>
